@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

body {
  @apply font-urbanist;
}

.behind {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

select {
  @apply p-1 border;
}
